@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
--border-color: #144fc6;
--fill-color: #6ab3f8;


--color-primary: #1d71b8;
--color-danger: #ff7782;
--color-success: #41f1b6;
--color-warning: #ffbb55;
--color-white: #fff;
--color-info-dark: #7d8da1;
--color-info-lihgt: #dce1eb;
--color-dark: #363949;
--color-light: rgba(132, 139, 200, 0.18);
--color-primary-variant: #677483;
--color-dark-variant: #677483;
--color-background: #f6f6f9;

--card-border-radius: 2rem;
--border-radius-1: 0.4rem;
--border-radius-2: 0.8rem;
--border-radius-3: 1.2rem;

--card-padding: 1.8rem;
--padding-1: 1.2rem;

--box-shadow: 0 2rem 3rem var(--color-light);

}

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #edeffd;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

aside .sidebar input [type="button"] {
    color: white;
}



*{
    background: none;
    font-family: poppins;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;

}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.8rem;
    margin: auto;   
    
}

h3{
    font-size: 0.87rem;
}

#h3{
    font-size: 0.87rem;
    font-weight: 500;
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
    display: flex;
    color: var(--color-info-dark);
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

#h3:hover{
    cursor: pointer;
}
h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.blue{
    color: #1d71b8;
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2.5rem;
    height: 3.5rem;
}

aside .close{
    display: none;
}

/*SIDE BAR*/

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}




aside .sidebar input [type="button"]:hover{
    cursor: pointer;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

/*MAIN*/

main{
    margin-top: 1.4rem;

}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    grid-column: 1/3;
    
}

main .humidity{
    width: auto;
}


main .insights > div{
    
    background:  var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.humidity span{
    background: var(--color-primary);
}

main .insights > div .middle{
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 9px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights small{
    margin-top: 1.6rem;
    display: block;
}

.mapbox {
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 16px;;
    border: 1px solid var(--jet);   
    overflow: hidden;
    filter: grayscale(100%) invert(100%);
  }
  .mapbox figure { 
    height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  
}

main .history{
    margin-top: 0.8rem;
    height: 300px;
    display: flex;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    overflow-y:scroll;
}
main .history::-webkit-scrollbar {
    scrollbar-width: thin;
}

.hisTi{
    margin-top: 1rem;
    
}

main .history table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .history table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .history a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.Label{
    position: sticky;
    top: 0;
    background: var(--color-white);
}

/*RIGHT*/

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius:  var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .monitor{
    margin-top: 1rem;
    background:  var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .monitor:hover{
    box-shadow: none;
}

.right .monitor h2{
    margin-bottom: 0.8rem;
}


/*FLOOD MONITORING*/
.monitor{
    background-color: #3494e4;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.cup {
    background-color: var(--color-background);
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}


.waterlevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;

}
.centimeters {
    background-color:var(--fill-color) ;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 0;
    vertical-align: bottom;
    transition: 1s ease;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        height: 100vh;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }


    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .history{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .history table{
        width: 83vw;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child, 
    main table tbody tr td:first-child{
        display: none;
    }
}